.DS_Store
build/
.config/
.env
*.xcuserstate
vendor/librime/build/
vendor/librime/dist/
vendor/librime/include/
vendor/librime/lib/
vendor/librime/bin/
vendor/librime/share/
.gradle/
.idea/
local.properties
.cxx/
platforms/android/.kotlin/
node_modules/
