<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>Typing 东南亚</string>
	<key>CFBundleExecutable</key>
	<string>TypingDongnanya</string>
	<key>CFBundleIconFile</key>
	<string>TypingDongnanyaAppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.caizhichao.typing-dongnanya.inputmethod.TypingDongnanya</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TypingDongnanya</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.11</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.caizhichao.typing-dongnanya.inputmethod.TypingDongnanya.Pinyin</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.caizhichao.typing-dongnanya.inputmethod.TypingDongnanya.Pinyin</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>TypingDongnanyaMenuIconV4.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>TypingDongnanyaMenuIconV4.pdf</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>TypingDongnanyaMenuIconV4.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smSimpChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.caizhichao.typing-dongnanya.inputmethod.TypingDongnanya.Pinyin</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>TypingDongnanya_1_0</string>
	<key>InputMethodServerControllerClass</key>
	<string>TypingDongnanya.TypingDongnanyaInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>TypingDongnanya.TypingDongnanyaInputMethodDelegate</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>com.caizhichao.typing-dongnanya.inputmethod.TypingDongnanya</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hans</string>
	<key>TypingDongnanyaAPIBaseEndpoint</key>
	<string>https://114.132.185.123/typing-dongnanya-api/v1/chat/completions</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>TypingDongnanyaAppIcon.pdf</string>
</dict>
</plist>
